@using HowShop.Web.Models
@{
    var tags = Products.Tags();
    var userSession = new UserSession();
}

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("HowShop", "Lista", "Produto", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Contato", "Index", "Contato")</li>

                @*@foreach (var tag in tags)
                    {
                        <li><a href="@Url.Action("Lista", "Produto", new {tag = tag})">@tag</a></li>
                    }*@
            </ul>

            <ul class="nav navbar-nav navbar-right">
                @if (userSession.IsLogged)
                {

                    <li class="active">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Logged <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@(Url.Action<UserSettingsController>(x => x.Index()))">Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@(Url.Action<LoginController>(x => x.SignOut()))">Sign Out</a></li>
                        </ul>
                    </li>

                }
                else
                {
                    <li class="active">
                        <a href="@(Url.Action<LoginController>(x => x.Index()))">Login</a>
                    </li>
                }
            </ul>

        </div>
    </div>
</div>

<div class="container body-content">

    @RenderBody()

</div>