@using HowShop.Web.Models
@{
    var tags = Products.Tags();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HowShop</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HowShop", "Lista", "Produto", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Contato", "Index", "Contato")</li>
                    @foreach (var tag in tags)
                    {
                        <li><a href="@Url.Action("Lista", "Produto", new {tag = tag})">@tag</a></li>
                    }
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@()">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="container body-content">
        
        @RenderBody()
        <hr />
        @*<footer>
            <p><a href="http://www.joaofx.com">www.joaofx.com</a></p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/solidr")
    @RenderSection("scripts", required: false)
    
</body>
</html>
