@model UserEdit.Command

<div class="row">
    <div class="col-md-12">

        <h1>Edit User</h1>

        <form method="post" action="@(Url.Action<AdminUserController>(x => x.Save(null)))" class="form-horizontal">
            
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)
            @Html.FormSummary()

            <div class="well bs-component">

                <fieldset>
                    
                    @* TODO: don't show password fields. Create another screen to reset user's password *@
                    @Html.FormBlock(m => m.Name)
                    @Html.FormBlock(m => m.Email)
                    @Html.FormBlock(m => m.Profile)
                    @Html.FormBlock(m => m.Password)
                    @Html.FormBlock(m => m.ConfirmPassword)

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Save</button>
                            or <a href="@Url.Action("Index")">Back to Users</a>
                        </div>
                    </div>
                </fieldset>

            </div>

        </form>

    </div>
</div>