@model UserLogin.Command

<div class="row">
    <div class="col-md-12">

        <h1>Login</h1>

        <form method="post" action="@(Url.Action<LoginController>(x => x.SignIn(null)))" class="form-horizontal">

            @Html.AntiForgeryToken()
            @Html.FormSummary()

            <div class="well bs-component">

                <fieldset>

                    @Html.FormBlock(m => m.Email)
                    @Html.FormBlock(m => m.Password)

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                @Html.Input(m => m.RememberMe).Append(Html.DisplayLabel(m => m.RememberMe))
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                </fieldset>

            </div>

        </form>

    </div>
</div>
